.navbar-nav .nav-link {
    color: white !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 600 !important;
}

.navbar-brand {
    color: white !important;
    font-family: "Tomorrow", sans-serif !important;
    font-weight: 700 !important;
}

.navbar-nav .nav-link.active {
    color: #ef6c00 !important;
}

.navbar-nav .nav-link:hover {
    color: #ffe8b6 !important;
}

.navbar {
    background-color: #211f1f !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.card {
    background-color: #211f1f !important;
    border: none !important;
}

.card-title {
    color: white !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 700 !important;
}

.btn-primary {
    background-color: #161414 !important;
    border: 2px solid #fff !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 600 !important;
    border-radius: 20px !important;
}

p {
    color: white !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 300 !important;
}

body {
    background-color: #161414 !important;
}

h1 {
    color: white !important;
    font-family: "Tomorrow", sans-serif !important;
    font-weight: 700 !important;
    text-align: center !important;
}

