.navbar-nav .nav-link {
    color: white !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 600 !important;
}

.navbar-brand {
    color: white !important;
    font-family: "Tomorrow", sans-serif !important;
    font-weight: 700 !important;
}

.nav-link.active {
    color: #ef6c00 !important;
}

.navbar-nav .nav-link:hover {
    color: #ffe8b6 !important;
}

.navbar {
    background-color: #211f1f !important;
}

.card {
    background-color: #211f1f !important;
    border: none !important;
    border-radius: 20px !important;
    overflow: hidden !important;
}

.card-title {
    color: white !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 700 !important;
}

.btn {
    background-color: #161414 !important;
    border: 2px solid #fff !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 600 !important;
    border-radius: 20px !important;
    color: white !important;
}

label {
    color: white !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 300 !important;
}

p {
    color: white !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 300 !important;
}

body {
    background-color: #161414 !important;
}

h1 {
    color: white !important;
    font-family: "Tomorrow", sans-serif !important;
    font-weight: 700 !important;
    text-align: center !important;
}

h3 {
    color: white !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 600 !important;
}

input {
    background-color: #211f1f !important;
    border: 2px solid #fff !important;
    border-radius: 10px !important;
    color: white !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 300 !important;
}

textarea {
    background-color: #211f1f !important;
    border: 2px solid #fff !important;
    border-radius: 10px !important;
    color: white !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 300 !important;
}

ul {
    color: #ef6c00 !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 300 !important;
}

#errorDiv {
    border: 2px solid #ef6c00 !important;
    border-radius: 10px !important;
    color: #ef6c00 !important;
    font-family: "Outfit", sans-serif !important;
    font-weight: 300 !important;
}

::placeholder {
    color: #787878 !important;
}